#browse {
  background-image: linear-gradient(to top left, black, transparent);

  #browse-footer {
    margin: 20px auto 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    a {
      text-decoration: none;
      padding: 10px;
      border-radius: 10px;

      &:hover {
        background-color: #2f3139;
      }
    }

    #next {
      i {
        margin-left: 7px;
      }
    }

    #previous {
      i {
        margin-right: 7px;
      }
    }
  }
}

//used by user page, search page, and browse page
#browse-grid {
  display: flex;
  flex-wrap: wrap;

  .grid-item {
    display: flex;
    flex: 0 0 19%;
    margin: 2% 3% 0 3%;
    flex-direction: column;
    overflow: hidden;
    text-decoration: none;
    border-radius: 6px;
    box-shadow: 0 2px 10px 0px #2f3139;
    height: 100px;
    position: relative;

    &:hover .item-details {
      opacity: 1;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .item-details {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 10px;
      height: 100%;
      width: 100%;
      overflow: hidden;
      position: absolute;
      top: 100%;
      transform: translate(0, -100%);
      background: rgb(46, 48, 56, 0.6);
      opacity: 0;
      transition: opacity 0.3s ease-in;

      .details-title {
        font-size: 1.3vw;
        margin-bottom: 7px;
      }

      .details-year {
        color: #bbb9b9;
        font-size: 1vw;
      }
    }
  }
}
