#detailView {
  .banner-container {
    position: relative;

    img {
      height: 200px;
      width: 100%;
      object-fit: cover;
      background-position: top;
      object-position: 0 12%;
      filter: brightness(50%);
    }

    p {
      font-size: 2em;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .detail-content {
    padding: 10px 10% 0 10%;
    display: flex;
    background-color: #484c58;
    margin-top: -5px;
    min-height: calc(100vh - 350px);

    .detail-left {
      background-color: $primaryColor;
      width: 20%;
      margin-top: 27px;
      padding-bottom: 23px;

      .tags {
        margin-top: 7px;

        #tags,
        #stores,
        #genres {
          padding: 0 10px;
        }

        span {
          color: #bbb9b9;
        }

        p {
          margin-left: 10px;
          line-height: 25px;
        }

        h4 {
          font-weight: 100;
          margin-bottom: 5px;
          border-bottom: 1px solid $secondaryColor;
          padding-bottom: 6px;
          padding-left: 5px;
        }
      }

      #stores {
        a {
          color: $blue;
        }
      }

      img {
        width: 50px;
        margin-top: 10px;
        margin-left: 5px;
      }
    }

    .detail-right {
      width: 80%;

      .detail-bar {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: $primaryColor;
        padding: 7px;
        margin-top: -10px;

        i {
          margin-left: 10px;
        }
      }

      .detail-article {
        padding: 30px;
        background-color: $secondaryColor;

        img {
          height: 150px;
          width: 100%;
          object-fit: cover;
          object-position: 0 50%;
          margin: 10px 0;
          border-radius: 5px;
        }

        #dev-pub {
          display: flex;

          div {
            margin-right: 20px;

            li {
              margin-left: 25px;
            }
          }
        }

        #dev-pub,
        #desc {
          margin-bottom: 15px;
          padding: 10px;
          border-top: 1px solid #bbb9b9;
          border-bottom: 1px solid #bbb9b9;
        }

        h3 {
          margin-bottom: 7px;
        }

        p {
          margin-left: 10px;
          text-indent: 20px;
          line-height: 30px;
        }
      }
    }
  }
}
