#detailView {
  .banner-container {
    position: relative;

    img {
      height: 200px;
      width: 100%;
      object-fit: cover;
      background-position: top;
      object-position: 0 12%;
      filter: brightness(50%);
      margin-bottom: -5px;
    }

    p {
      font-size: 2em;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .detail-content {
    padding: 0 5%;
    padding-top: 10px;
    display: flex;
    background-image: linear-gradient(to top left, black, transparent);

    .detail-left {
      width: 20%;
      padding-top: 30px;
      padding-bottom: 23px;

      .tags,
      button,
      img {
        margin-top: 7px;

        #tags,
        #stores,
        #genres {
          padding: 0 10px;
        }

        span {
          color: #bbb9b9;
        }

        p {
          margin-left: 10px;
          line-height: 25px;
        }

        h4 {
          font-weight: 100;
          margin-bottom: 5px;
          border-bottom: 1px solid $secondaryColor;
          padding-bottom: 6px;
          padding-left: 5px;
        }
      }

      #stores {
        a {
          color: $blue;
        }
      }

      img {
        width: 50px;
        // margin-top: 10px;
        // margin-left: 5px;
        display: flex;
      }

      button {
        background-color: transparent;
        cursor: pointer;
        border: none;
        display: flex;
        padding: 8px;
        border: 1px solid #fff;
        border-radius: 5px;
        letter-spacing: 0.1em;

        i {
          margin-left: 5px;
        }

        &:hover {
          background-color: #2e7f2e;
        }
      }

      .addedBtn {
        background-color: rgb(46, 127, 46);

        &:hover {
          background-color: $red;
        }
      }

      .addedBtn-review {
        background-color: rgb(46, 127, 46);

        &:hover {
          filter: brightness(90%);
        }
      }
    }

    .detail-right {
      width: 80%;

      .detail-bar {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 7px;

        i {
          margin-left: 10px;
        }
      }

      .detail-article {
        padding: 30px;

        img {
          height: 300px;
          width: 100%;
          object-fit: cover;
          object-position: 0 50%;
          margin: 20px 0;
          border-radius: 10px;
        }

        #dev-pub {
          display: flex;

          div {
            margin-right: 20px;

            li {
              margin-left: 25px;
            }
          }
        }

        #desc {
          li {
            margin-left: 35px;
            line-height: 30px;
          }
        }

        h3 {
          margin-bottom: 7px;
        }

        p {
          margin-left: 10px;
          text-indent: 20px;
          line-height: 30px;
        }
      }
    }
  }
}

#reviewText,
#starScore {
  min-width: 80%;
  max-width: 80%;
  border: 1px solid #fff;
  border-radius: 5px;
}

#starScore2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  margin: 0 auto;

  .star {
    height: 40px;
    width: 40px;
    background-color: #fff;
    display: flex;
    cursor: pointer;

    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );

    .st-l {
      width: 50%;
      height: 40px;
      background-color: "#000";
    }

    .st-r {
      width: 50%;
      height: 40px;
      background-color: transparent;
    }
  }
}
