#browse {
  min-height: $appHeight;
  background-image: linear-gradient(to top left, black, transparent);

  .browse-title-container {
    #browse-title {
      text-align: center;
      padding: 10px 0;
      font-weight: 100;
    }

    #filter-bar {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 15px 3%;
      border-bottom: 1px solid #555a68;

      .filter-container {
        background-color: #555a68;
        padding: 5px;
        min-height: 0px;
        position: relative;
        width: 190px;
        margin-right: 20px;

        .filter-dropdown-button {
          cursor: pointer;
          width: 100%;
          text-align: left;
          background-color: #555a68;
          border: none;
          color: #a6a7a9;
          font-size: 15px;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .checkbox-items {
          display: none;
          background-color: #555a68;
          border-top: 1px solid #878a91;
          position: absolute;
          left: 0;
          z-index: 1;
          padding: 5px;
          width: 100%;

          .filter-checkbox {
            display: flex;

            label {
              margin-left: 5px;
            }
          }
        }

        .visible {
          display: block;
        }

        .invisible {
          display: none;
        }
      }

      p {
        color: #878a91;
        font-size: 12px;
      }

      #filter-button {
        cursor: pointer;
        background-color: #2f3139;
        border: none;
        padding: 7px;
        border-radius: 4px;
        margin-left: auto;

        &:hover {
          filter: brightness(90%);
        }
      }
    }
  }

  #browse-grid {
    @include grid();
  }

  #browse-footer {
    margin: 20px auto 0 auto;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    a {
      text-decoration: none;
      padding: 10px;
      border-radius: 10px;

      &:hover {
        background-color: #2f3139;
      }
    }

    #next {
      i {
        margin-left: 7px;
      }
    }

    #previous {
      i {
        margin-right: 7px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #browse {
    .browse-title-container {
      #browse-title {
        font-size: 23px;
      }

      #filter-bar {
        flex-direction: column;
        align-items: center;

        .filter-container {
          margin-bottom: 15px;
        }

        #filter-button {
          margin-left: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 830px) {
  #browse {
    @include gridmQuery();
  }
}
