@mixin grid() {
  // display: flex;
  display: grid;
  column-gap: 4%;
  grid-template-columns: repeat(auto-fill, 201px);
  // justify-content: space-evenly;
  // flex-wrap: wrap;
  justify-content: center;
}

@mixin gridItem() {
  // flex: 0 0 17%;
  overflow: hidden;
  margin-top: 50px;
  text-decoration: none;
  border-radius: 6px;
  box-shadow: 0 2px 10px 0px #2f3139;
  height: 100px;
  position: relative;
  cursor: pointer;
}

@mixin gridItemDetails() {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 100%;
  transform: translate(0, -100%);
  background: rgb(46, 48, 56, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
