* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $white;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
html,
body {
  height: 100%;
  margin: 0 2%;
  background-color: #40434e;
  position: relative;
}
#app {
  max-width: 1500px;
  margin: 0 auto;
  min-height: $appHeight;
  background-color: $secondaryColor;
  border-radius: 10px;
  overflow: hidden;
}
