* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
html,
body {
  height: 100%;
  margin: 0 2%;
  background-color: #40434e;
}
#app {
  min-height: calc(100vh - 150px);
  background-color: $secondaryColor;
  border-radius: 10px;
  overflow: hidden;
}
