* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $white;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
html,
body {
  height: 100vh;
  background-color: #40434e;
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}
#app {
  min-height: $appHeight;
  background-color: $secondaryColor;
  border-radius: 10px;
  overflow: hidden;
}

#swal2-validation-message {
  background-color: #555a68;
  color: #fff;
}
