#user {
  display: flex;

  #sidebar {
    display: inline-flex;
    flex-direction: column;
    min-height: calc(100vh - 150px);
    background-color: $tertiaryColor;

    button {
      padding: 10px;
      border: none;
      cursor: pointer;
      background-color: transparent;
      white-space: nowrap;

      &:hover {
        background-color: $primaryColor;
      }
    }

    #userBurger {
      width: 40px;
      align-self: flex-end;

      i {
        font-size: 18px;
      }
    }

    #sidebarButtons {
      display: flex;
      flex-direction: column;
      width: 100%;

      button {
        padding: 10px 30px;
      }
    }
  }

  #user-content {
    padding: 20px 3% 20px 4%;
    width: 100%;
    position: relative;

    #user-title-container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      #user-title {
        margin-bottom: 20px;
        font-weight: 100;
        display: flex;
        align-items: center;

        i {
          font-size: 25px;
          margin-right: 10px;
        }
      }

      #toggle-privacy {
        background-color: $primaryColor;
        border: none;
        padding: 5px;
        border-radius: 10px;
        font-size: 11px;
        cursor: pointer;
      }
    }

    #reviews-list {
      display: flex;
      flex-direction: column;

      .review-item {
        background-color: $tertiaryColor;
        padding: 15px;
        border-radius: 10px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
          font-size: 18px;
          text-decoration: none;
          text-overflow: ellipsis;
        }

        .review-item-info {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          width: 60%;

          .edit-review-btn {
            cursor: pointer;
            border-bottom: 1px solid #fff;
          }
        }
      }
    }

    #user-pic-name {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      min-height: 120px;
      position: relative;

      #user-img-container {
        position: relative;

        img {
          width: 100px;
          height: 100px;
          margin-right: 20px;
          border-radius: 50%;
          background-color: #484c58;
          object-fit: cover;
        }

        #user-img-hover {
          position: absolute;
          cursor: pointer;
          top: 48%;
          left: 42%;
          border-radius: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          align-items: center;
          justify-content: center;
          opacity: 0;
          height: 100px;
          width: 100px;
          background: rgb(46, 48, 56, 0.6);

          i {
            margin-left: 5px;
            font-size: 12px;
          }

          &:hover {
            opacity: 1;
          }
        }
      }

      h1 {
        font-size: 2.5em;
      }

      p {
        font-size: 0.9em;
        margin-top: 7px;
        color: #d6d2d2;
      }

      #edit-info-btn {
        position: absolute;
        top: 0%;
        right: 0;
        background-color: $primaryColor;
        cursor: pointer;
        border: none;
        border-radius: 6px;
        padding: 5px;
        color: #bbb9b9;
        align-items: center;

        i {
          margin-left: 5px;
          font-size: 11px;
        }
      }
    }

    hr {
      color: $secondaryColor;
    }

    #top-five {
      margin-top: 50px;

      h1 {
        text-align: center;
        font-weight: 100;
      }
    }

    #browse-grid {
      @include grid();
    }
  }
}

#viewReview {
  text-align: left;
  display: inline-block;
  border: 1px solid #636c74;
  padding: 15px;
  border-radius: 10px;

  #viewReviewTitle {
    margin-bottom: 15px;
    position: relative;

    span {
      font-size: 15px;
      color: #acaaaa;
    }

    a {
      font-size: 20px;
      font-weight: 100;
    }
  }

  #viewReviewText {
    margin-left: 10px;
    font-size: 17px;
  }

  #viewReviewBtm {
    display: flex;
    align-items: center;
    margin-top: 15px;

    #viewReviewLikes {
      font-size: 17px;

      i {
        font-size: 14px;
        color: red;
      }
    }

    #viewReviewStars {
      color: #ffd700;
      font-size: 20px;
      display: inline;
      margin-left: 10px;
    }
  }
}

.swal2-input {
  width: 60%;
  font-size: 17px;
}

@media screen and (max-width: 410px) {
  .swal2-input {
    font-size: 14px;
  }

  #user {
    #user-content {
      #user-pic-name {
        flex-direction: column;
        display: flex;
        align-items: baseline;
        justify-content: space-evenly;
      }

      #reviews-list {
        .review-item {
          .review-item-info {
            flex-direction: column;
            align-items: normal;

            .edit-review-btn {
              margin-top: 5px;
              display: flex;
              align-items: center;
              justify-content: space-evenly;
              border-bottom: 1px solid #fff;
              font-weight: 600;
              padding: 7px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 730px) {
  #user {
    #user-content {
      @include gridmQuery();
    }
  }
}

@media screen and (max-width: 733px) {
  #user {
    flex-direction: column;

    #sidebar {
      min-height: 0px !important;
      min-width: 100% !important;

      #userBurger {
        width: 100%;

        i {
          transform: rotate(-90deg);
        }
      }
    }

    #user-content {
      #user-pic-name {
        #user-info-name {
          font-size: 20px;
        }
      }

      #reviews-list {
        .review-item {
          flex-direction: column;
          align-items: baseline;

          a {
            font-size: 16px;
            margin-bottom: 5px;
          }

          .review-item-info {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            width: 100%;
          }
        }
      }
    }
  }
}
